@import url('https://fonts.googleapis.com/css2?family=Anton&family=Jost:wght@700&family=Nunito+Sans:ital,opsz,wght@1,6..12,900&family=Oleo+Script&family=Outfit&family=Roboto&family=Rubik+Doodle+Shadow&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 8px 50px;
    color: white;
    z-index: 100;
    background-color: black;
}

.logo{
    font-family: 'Rubik Doodle Shadow';
    font-size: 35px;
    font-weight: 800;
    cursor: pointer;
}

.logo:hover{
    color: #fb3a18;
}

.links{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-family: 'Roboto';
}

.links li{
    list-style: none;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.links li a{
    text-decoration: none;
    color: white;
}

.links li a:hover{
    /* color: rgb(219, 53, 116); */
    color: #fb3a18;
    transition: .5s ease-in-out;
}

.active{
    color: #fb3a18 !important;
}

.menu{
    display: flex;
    align-items: center;    
    display: none;
}

@media (max-width:500px){
    .menu{
        display: block;
    }

    .navbar{
        padding: 8px 28px;
    }

    .links{
        display: none;
        flex-direction: column;
        justify-content: initial;
        padding-top: 200px;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        background-color: black;
    }

    .logo{
        font-size: 30px;
    }
}

.footer{
    background-color: black;
    color: white;
    padding-top: 2rem;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .footer a{
    color: white;
    text-decoration: none;
  }

  .footer i{
    font-size: 20px;
  }

  .footer_container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .footer_links, .footer_handles, .footer_reachus, .footer_map{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer_links_header, .footer_handles_header, .footer_reachus_header, .footer_map_header{
    font-weight: bold;
    /* font-size: 18px; */
    margin-bottom: 10px;
  }

  .footer_icons{
    display: flex;
    gap: 10px;
  }

  .footer_reachus{
    width: 300px;
  }

  .footer_reachus .phone, .footer_reachus .mail, .footer_reachus .address{
    display: flex;
    gap: 10px;
  }

  .footer_bottom{
    padding:10px 0;
    display: flex;
    justify-content: center;
    background-color: rgb(25, 25, 25);
  }

  .footer_bottom span{
    font-family: 'Rubik Doodle Shadow';
    font-size: 16px;
  }


  @media (max-width:768px){
    .footer{
        font-size: 12px;
    }

    .footer_container{
        width: 90%;
    }

    .footer_reachus{
        width: 250px;
    }

    .footer_map .map{
        width: 200px;
    }
  }

  @media (max-width:500px){

    .footer_container{
        /* flex-direction: column;*/
        padding: 0 1rem;
        flex-wrap: wrap;
        gap: 2rem;
        /* align-items: center; */
    }

    .footer_map .map{
        width: 250px;
    }
  }
